<!-- Container que contiene los inputs para registrar personas -->
<div class="container mt-5 w-70">
  <h2 class="text-white">Registro de Personas</h2>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label class="mt-3 mb-2 text-white">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" />
    </div>
    <div class="form-group">
      <label class="mt-2 mb-2 text-white">Apellido</label>
      <input type="text" class="form-control" formControlName="apellido" />
    </div>
    <div class="form-group">
      <label class="mt-2 mb-2 text-white">Edad</label>
      <input type="number" class="form-control" formControlName="edad" />
    </div>
    <div class="form-group">
      <label class="mt-2 mb-2 text-white">Piso</label>
      <select name="piso" id="piso" formControlName="piso" class="form-control">
        <option [ngValue]="item" *ngFor="let item of piso">
          {{ item.numero }}
        </option>
      </select>
      <div class="mt-2">
        <i class="bi bi-info-square text-white" title="Información">
          Se debe asignar un piso para ver los departamentos o ver el mapa de
          ubicación de los departamentos.
        </i>
      </div>
    </div>
    <!-- si el Piso fue seleccionado se muestra los departamentos -->
    <div class="form-group" *ngIf="personaForm.get('piso')?.value">
      <label class="text-white">Departamento</label>
      <select
        name="departamento"
        id="departamento"
        formControlName="departamento"
        class="form-control"
      >
        <option [ngValue]="item" *ngFor="let item of departamento">
          {{ item.numero }}
        </option>
      </select>
    </div>
    <div
      class="form-group"
      title="Para guardar debe completar todos los campos"
    >
      <button
        type="submit"
        class="btn btn-primary mt-2"
        [disabled]="personaForm.invalid"
      >
        <i class="bi bi-save"></i> Guardar
      </button>
    </div>
  </form>
</div>
<!-- Container de la Tabla que contiene la Lista de Personas -->
<div class="container mt-5 w-70 table-responsive">
  <h2 class="text-white">Lista de Personas Registradas</h2>
  <table class="table table-hover align-middle table-responsive">
    <!-- table color -->
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Piso</th>
        <th>Departamento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="text-white">
      <tr *ngFor="let item of personas">
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellido }}</td>
        <td>{{ item.edad }}</td>
        <td>{{ item.piso.numero }}</td>
        <td>{{ item.departamento.numero }}</td>
        <td>
          <button
            type="button"
            class="btn btn-success me-1"
            (click)="editar(item)"
          >
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
